<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bruteforce.blossom">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name="bruteforce.presentation.LogInActivity"
            android:launchMode="singleTask"
            android:label="Blossom">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="bruteforce.presentation.RegisterActivity"

            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action." />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="bruteforce.presentation.AccountInfoActivity"

            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action." />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="bruteforce.presentation.MainActivity"

            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action." />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="bruteforce.presentation.AddTaskActivity"
            android:label="AddNewTaskActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="bruteforce.presentation.MainActivity" />

        </activity>
        <activity
            android:name="bruteforce.presentation.PlantActivity"
            android:label="PlantActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="bruteforce.presentation.MainActivity" />

        </activity>

        <activity
            android:name="bruteforce.presentation.ShowTaskActivity"
            android:label="ShowTaskActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="bruteforce.presentation.MainActivity" />

        </activity>

        <activity
            android:name="bruteforce.presentation.UpdateTaskActivity"
            android:label="UpdateTaskActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="bruteforce.presentation.MainActivity" />

        </activity>

        <activity
            android:name="bruteforce.presentation.ShowCompletedTaskActivity"
            android:label="ShowCompletedTaskActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="bruteforce.presentation.MainActivity" />

        </activity>
    </application>

</manifest>